/* .fc-scrollgrid-sync-inner {
  background-color: rgb(196, 196, 196);
}

.fc-col-header-cell-cushion {
  background-color: yellow;
}

.fc-scrollgrid {
  padding: 10px;
  background-color: black;
  border-radius: 20px;
}

.fc-scrollgrid-liquid {
  border-radius: 20px;
  width: 100%;
}

.fc-scroller-harness {
  border-radius: 5px 5px 0px 0px;
}

.fc-scroller-harness-liquid {
  background-color: brown;
  border-radius: 0px 0px 5px 5px;
} */
